body {
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  text-align: center;
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  height: 100%;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* pour centrer verticallement  */
.card__container {
  position: relative;
  min-height: 100vh;
}

.card {
  margin: auto;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 27em;
  border-radius: 1em;
  box-shadow: 0 14px 20px rgba(145, 142, 142, 0.25);
}

.card__image {
  width: 100%;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.card__header {
  margin: auto;
}
.card__body {
  line-height: 1.5em;
  padding: 0.8em;
  max-width: 80%;
  font-size: 0.9375em;
  color: #717fa6;
  margin: auto;
}

.card__title {
  font-size: 1.375em;
  color: #1f2e55;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-top: 0.5em;
}

.card__actions {
  margin: auto;
  border-radius: 1em;
  padding: 1em;
  background-color: #f7f9ff;
  width: 80%;
}

.card__aside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.btn--change {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  color: #382ae1;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: underline;
}

.btn--change:hover {
  cursor: pointer;
  text-decoration: none;
  color: #766cf1;
}

.card__figure {
  display: flex;
  margin-right: 1em;
  flex-direction: column;
}

.card__annual-plan {
  font-size: 0.875em;
  font-weight: bold;
  color: #1f2e55;
}
.card__price {
  color: #717fa6;
  font-size: 0.875em;
  line-height: 1.5em;
}

.btn {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1em;
  padding: 2em;
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
}
.btn__payment {
  background-color: #382ae1;
  color: white;
  border: none;
  border-radius: 1em;
  margin: auto;
  width: 94%;
  padding: 1em;
  font-weight: bold;
  box-shadow: 0 10px 14px #717fa6;
}
.btn__payment:hover {
  background-color: #766cf1;
  cursor: pointer;
}
.btn__cancel-order {
  border: none;
  cursor: pointer;
  width: 94%;
  background-color: white;
  font-weight: bold;
  margin: auto;
  color: #717fa6;
  font-size: 0.9375em;
  padding-top: 1em;
}
.btn__cancel-order:hover {
  color: #1f2e55;
  cursor: pointer;
}

@media (max-width: 414px) {
  /* For mobile phones: */
  .card {
    width: 80%;
  }
}
